*{
    margin:0px;
    padding:0px; 
}

body
{
    background-color:#fff;
}
.header{
    
    height:20px;
    width:100%;
    border-collapse: collapse;
    background-color:black;
    padding:15px;
    position: fixed;
}
#title
{
    margin-left: 5%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgrey;
}
#title a
{
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
}
#menu{
    width:50%;
    float:right;
    margin-top:-8px;
    margin-right: -30px;
}
#menu ul{
    
    list-style-type: none;
}
#menu ul li{
    display: block;
    float:left;
    padding:10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
#menu ul li a { 
    color:darkgrey;
    text-decoration: none;
    
}
.container{
    
    width:100%;
    background-color: white;
    height: 647px;
}
#content
{
    color: white;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-left: 50px;
}
#content1
{
    color: white;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-left: 50px;
}
#content2
{
    color: white;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-left: 50px;
}
.bookbtn
{
    width:100px;
    height:35px;
    color:#fff;
    outline:none;
    border:0px;
    background-color: dodgerblue;
    margin-top: -10px;
    border-radius: 3px;
    
}
#bk
{
   font-family: Arial, Helvetica, sans-serif;
    color: dimgrey; 
}
.form1
{
    padding: 10px;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgrey;
    margin-bottom: 54px;
}
.form1 input[type="date"],select{
    
    width:300px;
    height: 30px;
    border-radius: 3px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgrey;
}
.form1 label
{
    font-weight: bold;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: dimgrey;
}
.form1 input[type="date"]
{
    margin-left: -20%;
    float:left;
}
.turf
{
    margin-left: -27%;
    float:left;
}
.avl
{
    margin-left: -19%;
}
.l1
{
    margin-left: -18%;
}
.l2
{
    margin-left: 25%;
}
.l3
{
    margin-left: 25%;
}
.gobtn
{
    width:50px;
    height:35px;
    color:#fff;
    outline:none;
    border:0px;
    background-color: dodgerblue;
    margin-top: 15px;
    border-radius: 3px;
    margin-left: 28%;
}
.showall
{   

    width:200px;
    height:35px;
    color:#fff;
    outline:none;
    border:0px;
    background-color: dodgerblue;
    margin-top: 15px;
    border-radius: 3px;
    margin-left: 45%;
}
#tb
{
    font-family: Arial,Helevtica,sans-serif;
    border-collapse: collapse;
    width: 90%;
    font-size: 14;

}
#tb td, #tb th
{
    border: 1px solid darkgrey;
    padding: 8px;
    text-align: center;
}
#tb tr:nth-child(even)
{
    background-color: #f1f3f6;
    color: black;
}
.total
{
    width:200px;
    height:35px;
    color:#fff;
    outline:none;
    border:0px;
    background-color: dodgerblue;
    border-radius: 3px;
    margin-left: 68px;
    margin-bottom: 20px;
}
.chk
{
    width:130px;
    height:35px;
    color:#fff;
    outline:none;
    border:0px;
    background-color: crimson;
    border-radius: 3px;
    margin-left: 85.5%;
    margin-top: -55px;
}
#tc
{
    margin-bottom: 20px; 
}
.logform
{   
    border-right:1px solid black;
    height:80%;
    width:40%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:dimgrey;
    margin-left: 10%;
    float: left;
}

.logform input[type="email"],input[type="password"]{
    
    width:350px;
    height: 30px;
    padding-left: 5px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 3px;
    margin-top: 10px;
}
#login
{
    width:70px;
    height:35px;
    color:#fff;
    outline:none;
    border:0px;
    background-color: limegreen;
    margin-top: 15px;
    border-radius: 3px;
    margin-left: 25%;
}
#signform
{   
    height:80%;
    width:-40%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color:dimgrey;
    margin-left: 5%;
    float: left;
}
#signform input[type="email"],input[type="password"],input[type="text"],input[type="number"]{
    
    width:350px;
    height: 30px;
    padding-left: 5px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 3px;
    margin-top: 10px;
}
#signup
{
    width:75px;
    height:35px;
    color:#fff;
    outline:none;
    border:0px;
    background-color: limegreen;
    margin-top: 15px;
    border-radius: 3px;
    margin-left: 35%;
}
button
{
    width:30px;
    height:25px;
    color:#fff;
    outline:none;
    border:0px;
    background-color: crimson;
    border-radius: 3px;
}

.d
{
    height: 30px;
    width: 15px;
}
.d img{
    padding: 5px;
    height: 16px;
    margin-top: -1px;
    margin-left: 2px;
}
#footer
{
    
    height: 180px;
    background-color: black;
    color: darkgray;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    position: relative;
}
#contact
{
    width:25%;
    margin-left: 130px;
    margin-top: 15px;
    float: left;
}
#contact ul
{    
    list-style-type: none;
}
#contact ul li
{
    padding:5px;   
}
#contact ul li a 
{ 
    text-decoration: none;    
}
#about
{
    width: 25%;
    margin-left: 105px;
    margin-top: 15px;
    float: left;
}
#about ul
{    
    list-style-type: none;
}
#about ul li
{
    padding:5px;   
}
#about ul li a 
{ 
    text-decoration: none;    
}
#stay
{
    margin-top: 15px;
}
#stay ul
{    
    list-style-type: none;
}
#stay ul li
{
    padding:5px;   
}
#stay ul li a 
{ 
    text-decoration: none;    
}
#txt
{
    background-color: lightgrey;
    width: 11%;
    border-radius: 0px;
    height: 20%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#sub
{
    width:75px;
    height:20%;
    margin-left: -5px;
    color:#fff;
    outline:none;
    border:0px;
    background-color: limegreen;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#sub :hover
{
    color: #900000;
}
.btn1
{
    width:70px;
    height:35px;
    color:#fff;
    outline:none;
    border:0px;
    background-color: #900000;
    margin-top: 10px;
    border-radius: 3px;
}
.btn1:hover
{
    background-color: dodgerblue;
}
#turfdetails
{
    height: 20%;
}
#bookdiv
{
    height: 40%;
}
.ld
{
    
}
.notice
{
    margin-left:30%;
    margin-top:10%;
}
#k
{
    width:150px;
    height:35px;
    color:#fff;
    outline:none;
    border:0px;
    background-color: dodgerblue;
    margin-top: 10px;
    border-radius: 3px;
}
#t
{
    width:130px;
    height:35px;
    color:#fff;
    outline:none;
    border:0px;
    background-color: crimson;
    border-radius: 3px;
}

